{% extends 'index.html' %}

{% block content %}
<style>
    #id_new_password1{
    height: 50px !important;
    padding: 15px !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    }

    #id_new_password2{
    height: 50px !important;
    padding: 15px !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    }

    body > div.container.py-5 > div > div > div > div > div > form > center > button{
        width: 170px !important;
    }
</style>
 <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-8 col-md-10 col-sm-12 pt-4 text-left personalize bg-white shadow">
                            <h4 class="mb5 text-center">Restablecer Contraseña</h4>
                            <br>
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <form class="form-signin" autocomplete="off" method="POST">
                                                {% csrf_token %}
                                                     {{ form.as_p }}
                                                    <center>
                                                        <button style="border-radius: 5px;" class="btn btn-danger w-100 py-3" type="submit">Cambiar mi contraseña</button><br>
                                                     </center>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}