<div id="cookieConsentContainer" class="position-fixed bottom-0 start-0 end-0 bg-dark text-white p-3" style="display: none; z-index: 1040;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0"><span class="small">Esta APP utiliza cookies para mejorar la experiencia del usuario. <a href="{% url 'politicprivacy' %}" class="text-info">Leer más</a>.</span></p>
            <button id="acceptCookies" class="btn btn-info btn-sm">Aceptar</button>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var consent = getCookie("userConsent");
    if (!consent) {
        document.getElementById("cookieConsentContainer").style.display = "block";
    }

    document.getElementById("acceptCookies").addEventListener("click", function() {
        setCookie("userConsent", "true", 365);
        document.getElementById("cookieConsentContainer").style.display = "none";
    });
});

function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
</script>