{% extends "index.html" %}
{% load static %}
{% block content %}
<head>
    <title>Error</title>
</head>

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Pending Approval</h6>
            <p class="mb-5">Your request is in the process of being approved. We will contact you using the email provided.<p>
            <h4>Thank you for choosing us</h4>
        </div>
  <center>
    <a href="javascript:history.back()" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Back</a>
    </center>

{% endblock %}