{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                       <div class="position-relative w-75 mx-auto animated slideInDown">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-xxl py-5">
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">That Vacation Privacy Policy</h6>
            <p style="text-align: left">

<br>
<br>

What information we<br>
Collect from you consumers may be asked for, name, email address, mailing address,
phone number, and credit card information. We will collect personal identification information from consumers
only if they voluntarily submit such information to us.
<br>

Travel Companion Information. <br>
When consumers make a reservation for someone else through our website,
we will request personal information and travel preferences about that individual.
You should obtain the consent of other individuals prior to providing us with their personal information
and travel preferences, as any access to view or change their information will be available only through your account.
<br>
<br>
How we use your information & When <br>
We collect it We use consumer’s sensitive billing information
(such as, credit card number, expiration date, and cardholder name) for the purpose of completing the travel bookings.
In addition, to provide consumers with the products and services requested; to provide you with travel confirmation and updates;
to notify you about special offers and products or services that may be of interest to you. We collect information from you
when you register on our site, subscribe to a newsletter, respond to a survey, fill out a form or enter information on our site.
<br>
<br>
HOW WE PROTECT YOUR INFORMATION
<br>
We take security measures to save and protect any personal information you provide us with.
Promotions, emails, and other travel related information
We use the information you provide us with, to send you emails, promotions, and travel related information.
Cookies and other technologies
We use cookies to save, collect, and keep track of consumers information for future visits.
Improving Our Website:
We may use the response you provide to improve our products and services.
<br>
<br>
Children’s privacy
<br>
This is a public website and does not offer services directed to children. We do not sell or market to children under the age of 13 years old. Our website is not designed to attract anyone under 13. We do not gather or keep information in our Website from those we actually know are under 13. We must have parental consent before receiving any personal information from children under the age of 13 years old.
Visiting our website from outside the United States
Our servers are based in the USA. Data protection may differ from the USA and other countries.
<br>
<br>
CHANGES TO OUR PRIVACY POLICY
<br>
We may change at our discretion our policies at any time. It is the consumer’s responsibility to check our policies periodically. We do not take any responsibility for the changes and/or updates of our policies.
Cancellation Policy.
<br>
<br>
YOU’RE ACCEPTANCE OF OUR TERMS
<br>
By using our website, you are accepting of our policies. If you do not agree with our policies, please do not use our Website.
<br>
<br>
CONTACTING US
<br>
If you have any questions about our Privacy Policy, the procedures we use in our Website, or your business with us, please contact us at:
Privacy Policy Cruise
That Vacation, understands the privacy concerns of today’s Internet users. We are committed to protecting your privacy online and offline. We hope that the following explanation of our privacy policy alleviates any possible concerns.

Whenever personal information (name, address, credit card numbers, etc.) is required, we will explicitly ask you to supply it. Any personal information provided will be used to tailor our products and services to better suit the interests of our valued customers.

Cruises Thatvacation.com will not intentionally sell or disclose any personal information about you or your travel plans to any other persons, organizations, or companies known to collect such information expressly for the purposes of delivering unsolicited email or illicit materials. Your personal information may be divulged when required by law or when protecting the legal rights and/or property of cruises.bookit.com.

Cruises.thatvacation.com does use cookies for functional purposes. Most browsers are initially set to accept cookies. If you would prefer, you can set yours to refuse cookies. However, you may not be able to take full advantage of some websites if you do so. The use of cookies is an industry standard, and many major websites use them to provide better service to their customers. Cookies in and of themselves do not personally identify users, although they do identify a user’s computer.

If you have any questions or concerns, please feel free to email our customer service.

This Privacy Policy is for all sites, generated That Vacation.

</p>
        </div>
    </div>
</div>



{% endblock %}