{% extends "index.html" %}
{% load static %}
{% block content %}

  <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                       <div class="position-relative w-75 mx-auto animated slideInDown">
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5>Tour Planning and Family Excursions</h5>
                        <p>We assist, guarantee, and plan your vacations to your liking.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-ship text-primary mb-4"></i>
                        <h5>Cruise Reservations</h5>
                        <p>We help you choose from all options the one that best suits your recreational needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Travel Guide</h5>
                        <p>We offer the most comprehensive travel guide in the industry. You can choose your destination at the best price.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                        <h5>Travel Monitoring</h5>
                        <p>We provide continuous 24/7 support for any inquiries during your trip.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-gift text-primary mb-4"></i>
                        <h5>All-Inclusive Packages</h5>
                        <p>Includes breakfast, lunch, dinner + accommodation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa fa-flag fa-europe text-primary mb-4"></i>
                        <h5>Tours to Europe</h5>
                        <p>If you want to visit Europe, this is your opportunity with the best prices on the market.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-car text-primary mb-4"></i>
                        <h5>Car Rentals</h5>
                        <p>We help you select the perfect car for your trip.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa fa-plane text-primary mb-4"></i>
                        <h5>Flights</h5>
                        <p>We manage your flights as quickly as you need at the best price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Service End -->


    <!-- Testimonial End -->
{% endblock %}
</body>

</html>