{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                       <div class="position-relative w-75 mx-auto animated slideInDown">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-xxl py-5">
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">That Vacation Privacy Policy</h6>
            <p style="text-align: left">

<h3>Conditions of the contracted airline:</h3>
<p style="text-align: left">
<br>
<br>
<br>
Tickets are not refundable or transferable.<br>
<br>
Change of date may cause increase of fare and / or penalties of the airline and That Vacation.<br>
<br>
That Vacation WILL NOT BE RESPONSIBLE FOR CANCELLATIONS OF FLIGHTS,  caused by nature,  strikes, and everything that is out of our control.<br>
<br>
Due to security restrictions, it is recommended 3 hours before your departure at the airport.<br>
<br>
That Vacation will not be responsible for late arrivals, inspection of airport security agencies in case of refusal to board the flight.<br>
<br>
The assignment of specific seats on the plane or special meals is not guaranteed. This is the responsibility of the contracted airline.<br>
<br>
All passengers must pay the entrance taxes to the country with their respective airport taxes at the time of their trip.<br>
<br>
We reserve the right to change airlines when situations arise that merit it.<br>
<br>
WE RESERVE THE RIGHT TO CHANGE ROUTE OR EQUIPMENT, MAKING US RESPONSIBLE FOR TRANSFERRING YOUR FINAL DESTINATION,
ALWAYS AND WHEN THE SITUATION REQUIRES IT.<br>
<br>
<br>
<br>
<br>

</p>


<h3>Our all inclusive Packages Include:</h3><br>
<p style="text-align: left">
Roundtrip air transportation, transfers airport-hotel-airport, name of the selected hotel, hotel taxes, meals, and drinks.<br>
IN CASE THE HOTEL IS NOT AVAILABLE, WE RESERVE THE RIGHT TO CHANGE IT TO ONE OF EQUAL OR BETTER CATEGORY THAT THE ACQUIRED WITHOUT
PRIOR NOTICE.<br>
<br>
<br>


·Our prices do not include:<br>
Expenses outside the all-inclusive program offered by the different hotels, such as phone calls,
mineral water in the room, washing and ironing clothes, tips for porters or other services, local guides or tours, etc.<br>
That Vacation will NOT BE RESPONSIBLE FOR ADDITIONAL EXCURSIONS PURCHASED TO YOUR VACATION PACKAGE<br>
<br>
<br>

·Company of land transfers:<br>

The company of transfers and land excursions in the territory of the Dominican Republic is provided by the company FOUND TRIP.<br>

Each passenger is fully responsible to present themselves at the scheduled time by the carrier that will be clearly UNIFORMED in the lobby
of each hotel at the FOUND TRIP table.<br>
You must reconfirm your flight 24 hours before your departure and if you do not show up at the time agreed by the carrier.<br>
That Vacation will not be responsible for payments by other means of transportation or loss of return flight if the situation arises.<br>

<br>
<br>

·Hotels:<br>

The accommodation is based on the information you will find in your respective vouchers.<br>
The rooms in the hotels will not always be ready until about 3:00 pm.<br>
The client who prefers to register earlier and leave later, must pay the additional supplement directly to the hotel.<br>
Passengers wishing to change rooms must coordinate with the hotel and if there is an additional charge, it must be paid by the client.<br>
<br>
<br>

·Documentation:<br>

For international destinations, all passengers must carry a valid passport to enter and leave the United States..<br>
If you are a foreigner you should consult with your consulate to be sure of your visa to enter the Dominican Republic.<br>

In order to travel with minors who are not your children, you need the parent’s consent.<br>

That Vacation is not responsible for any denial of visas or permits required by the consular section or the immigration department
of the United States.<br>
<br>
<br>

·Payments:<br>

Any payment for the processing of your reservation carries a charge of $ 100.00 dollars of non-refundable or non-transferable deposit.<br>
Payments can be made in Cash, Money Order, Bank Transfers or Agency Check.<br>
Credit card payments must be charged 3.5% of the total amount of the sale or deposit.<br>
The air spaces are confirmed with the deposit made in your reservation and you will have to pay the total amount no less than 60 days before your trip.<br>
That Vacation reserves the right to cancel any reservation that is not paid under these conditions and the passenger would automatically lose the deposit.<br>

<br>
<br>

·Documents:<br>

The documents (vouchers), will be issued 48-72 hours after receiving the final payment,

THE DOCUMENTS WILL BE handed 10 DAYS BEFORE YOUR DEPARTURE

<br>
<br>

·Refunds:<br>

In case a refund is requested it will be done through your travel agency.<br>

Air tickets are not refundable. Each airline has its cancellation fee.<br>

That Vacation recommends asking about the traveler's insurance program for your own protection.<br>

<br>
<br>

·Changes:<br>

Name changes carry a fee of $ 100.00 dollars and must be made 48 before the departure of your flight.<br>
Date changes will only be allowed as long as they are 30 days prior to your trip. It will have a charge of
$ 100.00 dollars plus the difference in the rate indicated by the Prices and specific dates.<br>

<br>
<br>


·Cancellations:<br>

All cancellations must be notified in writing, thus applying the cancellation policies of That Vacation.<br>
The deposits will not be refundable or transferable.<br>
In case of a cancellation by the airline, tickets will not be refundable. Passengers need to be aware of the C
ANCELLATION POLICIES PROVIDED BY THE AIR LINES.<br>

THE TICKETS WILL NOT BE REFUNDABLE IN CASE OF CANCELLATION, when traveling in CHÁRTERS. <br>


·Cancellation charges:<br>

Initial Deposit is not refundable<br>

91-120 days before your departure, 75% REIMBURSEMENT<br>

46-90 days before your departure 50% REIMBURSEMENT<br>

31-45 days before your departure 25% REIMBURSEMENT<br>

01-30 days before your departure NO REIMBURSEMENT<br>

DEPOSITS ARE NOT REFUNDABLE OR TRANSFERABLE UNDER ANY CIRCUMSTANCES<br>


<br>
<br>
·Luggage:<br>

The luggage is subject to the specifications of the airline.<br>

On charter flights, only one suitcase of 50lbs per passenger is allowed plus a handbag.<br>

Overweight luggage,  must be paid by the passenger at the airport desk.<br>

All handbags will be the responsibility of the passenger at all times.<br>

That Vacation is not responsible for the loss of luggage or damage of any piece of luggage or the belongings of the passenger.<br>


<br>
<br>
·Responsibility:<br>

Passengers with disabilities should bring their wheelchairs, oxygen tanks etc.<br>

It will be the responsibility of the passenger to pay the charges at the airport in relation to the transport of wheelchairs.<br>

It is the passenger ‘s responsibility to board on time, OTHERWISE IT WILL BE THE RESPONSIBILITY OF THE PASSENGER TO SEEK THE
WAY TO ARRIVE TO HIS FINAL DESTINATION.<br>


            </p>
        </div>
    </div>
</div>



{% endblock %}